#SPDX-License-Identifier: MIT-0
---
# tasks file for common
- name: Install common Packages
  become: yes
  package:
    name: "{{ item.pk_name }}"
    state: present
  with_items: "{{ package_names }}"

- name: Copy Source Code
  become: yes
  synchronize: 
    src: "{{ playbook_dir }}/../../"
    dest: "/opt/todo-app"
    delete: yes
    recursive: yes
    rsync_opts:
      - "--exclude=.git"
      - "--exclude=.github"
      - "--exclude=ansible"
      - "--exclude=todo-frontend"
      - "--exclude=terraform"
      
